# 使用官方 npm registry
registry=https://registry.npmjs.org/

# 使用淘宝镜像（可选，中国大陆推荐）
# registry=https://registry.npmmirror.com

# 严格对等依赖
strict-peer-dependencies=false

#  shamefully-hoist 公共包提升
shamefully-hoist=true
